.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px 23px;
}
.app__searchform{
  margin-top:19px;
}
.app__input{
  padding:5px 15px;
  font-size: 15px;
  text-align: center;
  min-width: 200px;
  max-width: 100vw;
}
.app__submit{
  padding:5px 15px;
  font-size: 15px;
  margin-left: 7px;
  border-radius: 5px;
  color:white;
  border:2px solid rgb(23, 171, 230);
  background-color: rgb(23, 171, 230);
  cursor:pointer;
}
.app__submit:hover{
  padding:5px 15px;
  font-size: 15px;
  margin-left: 7px;
  border-radius: 5px;
  color:rgb(23, 171, 230);
  border:2px solid rgb(23, 171, 230);
  background-color: whitesmoke;
  cursor:pointer;
}
.app__recipes{
  margin-top:24px;
  display: grid;
  grid-template-columns: 230px 230px;
  align-items: baseline;
}
.app__healthLabel{
  padding: 7px 8px;
  border-radius: 5px;
  margin-left: 7px;
  text-align: center;
  font-size: 15px;
}